table{
    empty-cells: hide;
    border-collapse: separate;
}

.cajasEstado{
    height: auto;
    width: 400px;
}
#cajaAbierto{
    margin-top: 10px;
    height: auto;
    width: 380px;
    background-color: red;
    border-style:solid;
}
#cajaEnProceso{
    margin-top: 10px;
    height: auto;
    width: 380px;
    background-color: green;
    border-style:solid;
}
#cajaCerrado{
    margin-top: 10px;
    height: auto;
    width: 380px;
    background-color: lightblue;
    border-style:solid;
}
#titulo{
    font-weight: bold;
    display: flex;
    
}
p{
    margin-left: 5px;
    
}
#cajaBoton{
    justify-content: center;
    display: flex;
}
#adicionar{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    
    
}
#x{
    text-align: right;
    justify-content: right;
    margin-left: 355px;
}