.form-select{
    width: 30%;
}
.form-control{
    width: 30%;
}
form{
    margin-left: 20px;
    margin-top: 30px;
}
textarea{
    height: 100px;
}
button{
    margin-top: 10px;
    margin-left: 20%;
    width: 10%;
}